h2, h1{
background-color: #F0F0F0;
font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
color: #A4A400;
text-decoration: underline;
}

h1 {
text-align: center;
font-size: 22pt;
font-weight: bold;
}
h2 {
text-align: left;
font-size: 18pt;
}

body {
background-color: aqua;
color:#404040;
font-size: 11pt;
font-family:Georgia, Garamond, serif;
}
#pie:hover {
transform:rotate(90deg);
}

#parallax { background-color: yellow;
}
